<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style/main.css' %}">
    {% if title %}
    <title class="text-c">{{title}}</title>
    {% else %}
    <title class="text-c"> studybud unknown page</title>
    {% endif %}
</head>

<body>

    {% include 'navbar.html'%}

    <div class="  z-100 ">
        {% for message in messages %}
        <div class="text-danger text-center fw-bold py-2 text-center2 x">{{ message }} </div>
        {% endfor %}
    </div>


    {% block content %}

    {% endblock%}
    <script src="{%  static 'js/script.js'%}"></script>

</body>

</html>