{% extends "TakeProj/base.html" %}

{% load static %}

{% block content %}


<section class="slide fade-6 kenBurns fromLeft">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <div class="fix-7-12 left toRight">
            <h1 class="ae-1"><div>sell your coin and Gift Card </div></h1>
            <p class="ae-2"><span class="opacity-8">


                we're fast and reliable we are tested and trusted we have many vendors waiting for your message you're just a dm away

            <a class="button blue gradient crop ae-3" href="{% url 'take_app:home'%}"> return home</a>
                <a class="button blue gradient crop ae-3" href="{% url 'take_app:home'%}"> Start Chat</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="background" style="background-image:url({% static 'images/img-15.jpg' %});"></div>

</section>

{% endblock %}
