{% extends "TakeProj/base.html" %}

{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<a href="{% url 'create_post' %}">create post</a>
<div>
    {% for blogs in blog %}
    <div>
        <p>{{ blogs.title }}</p>
        {{ blogs.author }}
        <p>{{ blogs.content }}</p>
        <p>

            <a href="{% url 'profile'  blogs.author.id %}">{{blogs.author.id}}check</a>
            <button class="likeButton" data-post-id="{{ blogs.id }}">Likes</button>
            {{ blogs.likes.count }}
        </p>
        <p>Posted: {{ blogs.created_at|timesince }} ago</p>
        <p><a href="{% url 'comment' author=blogs.author pk=blogs.id %}">comment</a></p>
        {% if request.user == blogs.author%}
        <p><a href="{% url 'delete_post'  blogs.id  %}">delete</a></p>
        {% else %}
        <a href="">share Post</a>
        {% endif %}
    </div>
    {% endfor %}
</div>

<script>

    document.querySelectorAll('.likeButton').forEach(button => {
        button.addEventListener('click', function () {
            var postId = this.dataset.postId;
            let url = '/blog/toggle_like/' + postId + '/';

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        console.error(data.error);
                    } else {
                        this.innerText = data.liked ? 'Unlike' : 'Like';
                        // Update like count for this specific post
                        const likeCountElement = this.nextElementSibling;
                        likeCountElement.innerText = data.like_count;
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    });
</script>



{% endblock %}